<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Point of Contact:</strong>
  <%= @team.point_of_contact.last_name %>,
  <%= @team.point_of_contact.first_name %>
</p>
<p><strong>Members:</strong></p>
<% @team.students.each do |t| %>
  <p>
    <%= t.last_name %>, <%= t.first_name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
